<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies:</title>
 </head>
 <body>
   <h2>Puppy Name: <%=@new_puppy.name%></h2>
   <h2>Puppy Breed: <%=@new_puppy.breed%></h2>
   <h2>Puppy Age: <%=@new_puppy.age%></h2>
 </body>
</html>
